.header{
  height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top:0;
left: 0;
right:0;
background-color: white;
border-bottom-width:1px ;
border-bottom-style:solid ;
border-bottom-color: rgb(185, 185, 185);
z-index: 100;

}
.search-bar{
  flex:1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(167, 165, 165);
  border-radius: 2px;
  box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05) ;
  width: 0;

}
.search-bar::placeholder{
  font-family: roboto,arial;
  font-size: 16px;
}
.left-section{

  display:flex;
  align-items: center;
}
.right-section{
  margin-right: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}
.youtube-apps{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}
.current{
  height: 32px;
  border-radius: 16px;
}




.middle-section{

flex:1;
margin-right: 40px;
margin-left: 70px;
max: width 500px;
display: flex;
align-items: center;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(235, 235, 235) ;
  margin-left: -1px;
  margin-right: 10px;
  
}
.search-button,
.voice-search-button,
.upload-icon-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-family: arial;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom:-30px;
  opacity: 0;
transition:opacity 0.15s ;
pointer-events: none;
white-space: nowrap ;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
   background-color: rgb(236, 234, 234);
}
.voice-search-icon{
  height: 24px;
  
 
}
.hamburger-menu{
height: 24px;
margin-left: 24px;
margin-right: 20px;
}
.youtube-logo{
height: 20px;
}
.search-icon{
  height: 25px;

}
.thumbnail-row{
position: relative;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.thumbnail-row2{
position: relative;
}
.video-time2{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.thumbnail-row3{
  position: relative;
}
.video-time3{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.thumbnail-row4{
  position: relative;
}
.video-time4{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.thumbnail-row5{
  position: relative;
}
.video-time5{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.thumbnail-row6{
position: relative;
}
.video-time6{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top:4px ;
  border-radius: 2px;
}
.notifications-icon-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  right: 0px;
  top:-3px;
  font-size: 12px;
  font-family: arial;
  background-color: rgb(199, 12, 12);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 30px;
}