.sidebar{
  position: fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color: white;
  width: 72px;
  z-index: 200px;
  padding-top: 5px;
}
.sidebar-link{
  height:75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  

}
.sidebar-link:hover{
  background-color:rgb(224, 222, 222);
}
.sidebar-link img{
  height: 26px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: arial;
  font-size: 10px;
}